.Site {
    color: white;
    background-color: black;
}
.Row {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 70%;
    vertical-align: bottom;
}
.Clue {
    display: inline-block;
    width: 50%;
    height: 100%;
    background-color: transparent;
    vertical-align: botton;
    float: left;
}
.Button {
    width: 20%;
    height: 100%;
    background-color: transparent;
    vertical-align: center;
    float: right;
}
.Image {
    width: 50%;
    height: auto;
}

.Response {
    margin: auto;
    display: flex;
    justify-content: center;
    width: 70%;
    padding-bottom: 5%;
}

.ResponseButton {
    width: 14%;
    height: 0;
    padding-left: 0%;
    padding-right: 5%;
    padding-bottom: 14%;
    overflow: hidden;
}

/* .ResponseImage {
    width: 14;
    height: 0;
    padding-bottom: 14%;
} */

.Section {
    display: flex;
    margin: auto;
    width: 70%;;
}

.Reload {
    display: flex;
    margin: auto;
    text-align: center;
}